<div class="notifications">
  <bio-notifications
    [notifications]="state.notifications.all"
    [removeNotification]="removeNotification">
  </bio-notifications>
</div>
<div class="app {{ layout }}">
  <div class="wrapper">
    <nav class="menu" [class.open]="menuOpen">
      <bio-side-nav
        [isSignedIn]="isSignedIn"
        [enabledEvents]="enabledEvents"
        [enabledSaasEvents]="enabledSaasEvents">
      </bio-side-nav>
    </nav>
    <main>
      <div class="menu-toggle" (click)="toggleMenu()"></div>
      <bio-user-nav
        [isOpen]="isUserNavOpen"
        [isSignedIn]="isSignedIn"
        [username]="username"
        [avatarUrl]="avatarUrl"
        [signOut]="signOut"
        [toggleUserNavMenu]="toggleUserNavMenu">
      </bio-user-nav>
      <ng-container *ngIf="isSigningIn">
        <header></header>
        <div class="body">
          <h5>
            <bio-icon symbol="loading" class="spinning"></bio-icon>
            Loading...
          </h5>
        </div>
      </ng-container>
      <router-outlet *ngIf="!isSigningIn"></router-outlet>
    </main>
  </div>
</div>
