<div class="package-sidebar-component">
  <section *ngIf="platform && isOriginMember">
    <h3>Build</h3>
    <button class="build" mat-raised-button color="primary" (click)="build()" [disabled]="!isBuildable" [attr.aria-label]="buildButtonAriaLabel">
      <span aria-hidden="true">
        <bio-platform-icon [platform]="platform.id" *ngIf="!isNewProject"></bio-platform-icon>
        {{ buildButtonLabel }}
      </span>
    </button>
    <p *ngIf="!isBuildable" class="disabled-build-msg">{{ buildButtonDisabledMessage }}</p>
  </section>
  <section *ngIf="isOriginMember && hasPlan">
    <h3>Settings</h3>
    <ul>
      <li>
        <bio-icon symbol="github"></bio-icon> {{ repoName }}
        <a href="{{ repoUrl }}" target="_blank" title="View GitHub Repo">
          <bio-icon symbol="open-in-new"></bio-icon>
        </a>
      </li>
      <li>
        <bio-icon symbol="loading"></bio-icon>
        Auto-build {{ autoBuildSetting }}
      </li>
      <li>
        <bio-visibility-icon [visibility]="project.visibility" prefix="Default Package Visibility:"></bio-visibility-icon>
        {{ project.visibility | titlecase }} packages
      </li>
    </ul>
  </section>
  <section class="latest-stable">
    <h3>Latest Stable</h3>
    <p *ngIf="latestStable">
      <a [routerLink]="['./', latestStable.ident.version, latestStable.ident.release]">
        {{ latestStable.ident.version }}/{{ latestStable.ident.release }}
      </a>
      <bio-platform-icon [platform]="latestStable.target"></bio-platform-icon>
    </p>
    <p *ngIf="!latestStable && !loadingLatestStable">
      None.
      <a [routerLink]="['./']">View available versions</a>.
    </p>
  </section>
</div>
