<div class="package-detail-component">
  <div class="package-manifest">
    <div class="package-manifest-title">
      <h2>Package Manifest</h2>
    </div>
    <div class="package-manifest-body">
      <h3 *ngIf="fullName">
        <bio-copyable [text]="fullName"></bio-copyable>
      </h3>
      <section class="metadata">
        <dl>
          <div>
            <dt>Version</dt>
            <dd>
              {{ package.ident.version }}
            </dd>
          </div>
          <div>
            <dt>Release</dt>
            <dd>
              {{ package.ident.release }}
              <bio-platform-icon [platform]="package.target"></bio-platform-icon>
            </dd>
          </div>
          <div>
            <dt>Checksum</dt>
            <dd>
              {{ package.checksum }}
            </dd>
          </div>
          <div>
            <dt>&nbsp;</dt>
            <dd>
              <bio-channels
                [channels]="package.channels"
                (onDemote)="handleDemote($event)"
                [canDemote]="memberOfOrigin">
              </bio-channels>
              <bio-package-promote
                [origin]="package.ident.origin"
                [name]="package.ident.name"
                [version]="package.ident.version"
                [release]="package.ident.release"
                [target]="package.target"
                channel="stable"
                *ngIf="promotable(package)">
              </bio-package-promote>
            </dd>
          </div>
        </dl>
      </section>
      <section class="manifest" [innerHTML]="package.manifest"></section>
      <section class="config" *ngIf="package.config">
        <h2>Configuration</h2>
        <pre>{{ package.config }}</pre>
      </section>
      <section class="deps">
        <div class="direct-deps">
          <h2>Dependencies</h2>
          <bio-package-list [currentPackage]="package" [packages]="package.deps"></bio-package-list>
        </div>
        <div class="transitive-deps">
          <h2>Transitive Dependencies</h2>
          <bio-package-list [currentPackage]="package" [packages]="package.tdeps"></bio-package-list>
        </div>
      </section>
    </div>
  </div>
</div>
