$black: #000;
$white: #FFF;
$off-white: #fbfbfb;

$light-blue: #e9f1f7;
$medium-blue: #556F84;
$light-blue-gray: #617E98;
$blue-gray: #526E84;
$dark-blue: #283C4C;

$very-light-gray: #E8F0F6;
$light-gray: #D8D8D8;
$light-slate-gray: #dce6ed;
$medium-gray: #C3C6C8;
$dim-slate-gray: #7D868E;
$dark-gray: #5C6670;
$very-dark-gray: #444;

$bio-red: #EB6852;
$bio-yellow: #EBE269;
$bio-green: #87B09A;
$bio-orange: #FF9012;
$bio-blue: #4296b4;

$bio-light-green: #7da28e;
$bio-light-green-2: #87B09A;
$bio-light-green-3: #93ADA9;
$bio-very-light-green: #c7d7cf;
$bio-blue-green: #6F8E92;

$docker-blue: #0792E9;
$google-blue: #4285F4;
$amazon-orange: #FF9900;
$azure-blue: #1374c3;

$bio-text: $dark-gray;
$bio-links: $bio-blue;
$bio-borders: 1px solid $very-light-gray;

$active: $bio-orange;
$success: $bio-green;
$pending: $bio-blue;
$waiting: $medium-gray;
$warn: $bio-yellow;
$error: $bio-red;
$disabled: $medium-gray;

$status-colors: (
  canceled: $disabled,
  cancelpending: $disabled,
  cancelprocessing: $disabled,
  cancelcomplete: $disabled,
  complete: $success,
  dispatching: $active,
  dispatched: $active,
  failed: $error,
  failure: $error,
  inprogress: $active,
  notstarted: $pending,
  processing: $active,
  pending: $pending,
  queued: $pending,
  rejected: $error,
  skipped: $disabled,
  success: $success,
  promote: $success,
  demote: $error
);

$form-colors: (
  waiting: $waiting,
  success: $success,
  error: $error
);

$icon-colors: (
  info: $bio-blue,
  warn: $warn,
  alert: $error
);

$lts-button-bg: #4396B4;
$lts-button-text: #FFFFFF;
$stable-button-bg: #72B0C7;
$stable-button-text: #FFFFFF;
$innovation-button-bg: #A1CBD9;
$innovation-button-text: #FFFFFF;
$other-button-bg: #D0E5EC;
$other-button-text: #4396B4;
$unstable-button-bg: #FFFFFF;
$unstable-button-text: #4396B4;
$unstable-button-border-color: #E3E3E3;
