<div class="package-versions-component">
  <ul class="toggle-list">
    <li class="heading">
      <h4>Version</h4>
      <h4>Releases</h4>
      <h4>Updated</h4>
      <h4>Platforms</h4>
    </li>
    <li class="none" *ngIf="versions.length === 0">
      <span>There are no available versions for this package.</span>
    </li>
    <div *ngFor="let version of versions">
      <li class="item" [routerLink]="itemLinkFor(version.version)">
        <span class="column name">{{ version.version }}</span>
        <span class="column">{{ version.release_count }}</span>
        <span class="column">{{ releaseToDate(version.latest) }}</span>
        <span class="column">
          <ul>
            <li class="zeroed" *ngFor="let platform of platformsFor(version)">{{nameFrom(platform)}}</li>
          </ul>
        </span>
        <bio-icon class="toggle" [symbol]="toggleFor(version.version)"></bio-icon>
      </li>
      <div *ngIf="selected === version.version">
        <ul class="nav-list">
          <li class="item" *ngFor="let pkg of packagesFor(version)" (click)="navigateTo(pkg)">
            <a>
              <div class="column name release">
                <span class="release-name">
                  <bio-copyable [text]="packageString(pkg)"></bio-copyable>
                </span>
              </div>
              <div class="column build-date">
                {{ releaseToDate(pkg.release) }}
              </div>
              <div class="column os">
                {{ nameFrom(pkg.platforms[0]) }}
              </div>
              <div class="column visibility"></div>
              <div class="column build-source"></div>
              <bio-icon symbol="chevron-right"></bio-icon>
            </a>
            <div class="channels">
              <bio-channels
                [channels]="pkg.channels"
                (onDemote)="handleDemote(pkg, $event)"
                [canDemote]="memberOfOrigin">
              </bio-channels>
              <bio-package-promote
                [origin]="pkg.origin"
                [name]="pkg.name"
                [version]="pkg.version"
                [release]="pkg.release"
                [target]="pkg.platforms[0]"
                channel="stable"
                *ngIf="promotable(pkg)">
              </bio-package-promote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ul>
</div>
