<div class="origin-integrations-tab-component body">
  <div class="content">
    <section>
      <h3>
        <bio-icon symbol="docker"></bio-icon>
        Container Registries
      </h3>
      <p>
        When connecting a plan file to the Biome Build Service, you can optionally export the result of your package build jobs
        (.hart file) to a Docker container and publish it to your registry account(s).
      </p>
      <div class="buttons">
        <ng-container *ngFor="let provider of providers">
          <div class="wrapper" *ngIf="provider.enabled">
            <button mat-raised-button (mouseup)="addIntegration(provider.key)">
              <div class="tile {{ provider.key }}">
                <bio-icon [symbol]="provider.key"></bio-icon>
              </div>
              <div class="label">
                {{ provider.name }}
              </div>
            </button>
          </div>
        </ng-container>
      </div>
    </section>
    <section>
      <ul class="action-list">
        <li class="heading">
          <h4>Registry Account</h4>
          <h4>Actions</h4>
        </li>
        <li class="none" *ngIf="(integrations | bioKeysPipe).length === 0">
          <span class="none">
            No container registry accounts found.
          </span>
        </li>
        <ng-container *ngFor="let type of integrations | bioKeysPipe">
          <li class="item" *ngFor="let name of integrations[type]">
            <span class="column name">
              <bio-icon [symbol]="type"></bio-icon>
              <span>{{ decode(name) }}</span>
            </span>
            <span class="column actions">
              <bio-icon symbol="settings" title="Edit this integration" (click)="editIntegration(type, name)"></bio-icon>
              <bio-icon symbol="cancel" title="Delete this integration" (click)="deleteIntegration(type, name)"></bio-icon>
            </span>
          </li>
        </ng-container>
      </ul>
    </section>
  </div>
</div>
